/**
Globe Elements
**/
.globe__placeholder {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    overflow: visible;
    position: relative;
    float: left;
    padding: 1.7em;
    margin: 0;
    margin-bottom: 16px;
    height: 200px; /* Unscaled is 200px. If 'globe__container' is scaled, multiply this value by scale() property, e.g. 200px * 0.5 = 100px */
    width:  200px; /* Unscaled is 200px. If 'globe__container' is scaled, multiply this value by scale() property, e.g. 200px * 0.5 = 100px */
  }
  
  .globe__container {
    overflow: visible;
    position: relative;  
    display: block;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  }
  
  .globe__container,
  .globe {
    width: 200px;
    height: 200px;  
  }
  .globe {
    overflow: visible;
    position: relative;  
    display: block;
    margin: 0;
    padding: 0;
    top: 0; left: 0;
  }
  
  .globe__worldmap,
  .globe__worldmap__front,
  .globe__worldmap__back,
  .globe__sphere,
  .globe__outer_shadow,
  .globe__reflections__bottom,
  .globe__inner_shadow,
  .globe__reflections__top,
  .globe__outer_shadow {
    position: absolute; display: block; margin: 0; right: auto; bottom: auto;  
  }
  
  .globe__sphere,
  .globe__outer_shadow,
  .globe__reflections__bottom,
  .globe__inner_shadow,
  .globe__reflections__top {
    left: 0; top: 0; width: 200px; height: 200px;
    background-position: 0 0; background-repeat: no-repeat;
  }
  .globe__outer_shadow {
    left: 0; top: 186px; width: 200px; height: 30px;
    background-position: 0 0; background-repeat: no-repeat;
  }
  
  /* Circle mask for animated SVG files */
  .globe__worldmap {
    left: 0; top: 0; width: 200px; height: 200px; overflow: hidden;
    -webkit-border-radius: 50%;
     -khtml-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  /*
    overflow: visible;
  */
  }
  
  .globe__worldmap__front,
  .globe__worldmap__back {
    left: 0; top: 0; width: 1000px; height: 200px; overflow: visible;
    background-image: url(https://www.anglolatinoedu.com/resources/assets/Anglo/worldmap_2x%20_nueva.svg);
    background-repeat: no-repeat;
  }
  
  
  
  .backimg4{
    background-image: url(https://www.anglolatinoedu.com/resources/assets/Anglo/worldmap_2x.svg);
  }
  
  
  
  
  
  
  
  /**
  Globe elements visibility options
  **/
  .globe__sphere { background-image: url(https://www.anglolatinoedu.com/resources/assets/Anglo/sphere.svg); display: none;}
  
  .globe__outer_shadow { background-image: url(https://www.anglolatinoedu.com/resources/assets/Anglo/outer_shadow.svg);}
  .globe__reflections__top { background-image: url(https://www.anglolatinoedu.com/resources/assets/Anglo/reflections.svg); display: none;}
  .globe__reflections__bottom { background-image: url(https://www.anglolatinoedu.com/resources/assets/Anglo/reflections.svg); display: none;}
  .globe__inner_shadow { background-image: url(https://www.anglolatinoedu.com/resources/assets/Anglo/inner_shadow.svg);}
  .globe__worldmap__front { background-position: 0px 0px;
  animation: textureSpinreverse 8s linear infinite;
  }
  .globe__worldmap__back { background-position: 0px -220px;
      animation: textureSpin 8s linear infinite;
  }
  
  
  
  
  @keyframes textureSpin {
    from {
      transform: translateX(0);
    }
    to {
          transform: translateX(-47.5%);
    }
  }
  
  
  @keyframes textureSpinreverse {
    from {
          transform: translateX(-47.5%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .contact_wrap{
      margin-top: 30px;
  }